/* our css */

.main-btn {
  background-color: rgba(var(--bs-secondary-rgb), 0.3);
  border: none;
  width: 65px;
  height: 65px;
}

.max-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all ease-in 0.3s;
}

.exit-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

.exit-icon {
  width: 21;
  height: auto;
}

.max-icon {
  width: 27px;
  height: auto;
}

.form-btn {
  flex: 1 0 37.5%;
  max-width: 37.5%;
}

.form-btn:first-child {
  margin-right: 40px;
}

.left-side-image:hover .max-btn {
  opacity: 1;
}

.modal .modal-dialog .main-bed-image {
  object-fit: contain;
}

.accordion-menu {
  margin-top: 100px;
}

.modal.fade .modal-dialog {
  transition: none;
  transform: none;
}

/* accordion */

.accordion-item {
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
}

.accordion-item .accordion-button {
  border-radius: 0.5rem !important;
  background-color: #d6d3ce;
  font-size: 11px;
}

.accordion-button::after {
  background-image: url(../assets/Icon\ ionic-ios-arrow-dropright-circle.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/Icon\ ionic-ios-arrow-dropright-circle.png);
  transform: rotate(-90deg);
}

.accordion-button:focus {
  border-color: unset;
  box-shadow: none;
}

.accordion-carousel-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.accordion-carousel-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.accordion-body {
  padding:0;
  padding-top: 49px;
}

.accordion-body .col .img-container {
  height: 0;
  overflow: hidden;
  padding-top: calc(90 / 120 * 100%);
  background: white;
  position: relative;
}
.accordion-body .col .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.accordion-body .col .img-container img:hover {
  transform: scale(3);
}

.accordion-body .accordion-data {
  width: calc(8 / 3 * 100%);
  padding-bottom: 49px;
  --bs-gutter-y: 40px;
  --bs-gutter-x: 20px;
}


.accordion-body .col {
  flex: 1 0 12.5%;
  max-width: 12.5%;

}

.accordion-body .col p {
  font-size: 8px;
  margin-bottom: 0;
  margin-top: 10px;
}

.accordion-row-header {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 11px;
}


/* media queries */

@media (min-width: 768px) {
  .accordion-body .col p {
    font-size: 12px;
  }

  .accordion-body .accordion-data {
    width: calc(8 / 4 * 100%);
    padding-bottom: 36px;
    --bs-gutter-y: 24px;
    --bs-gutter-x: 36px;
  }

  .accordion-row-header {
    font-size: 16px;
    margin-left: 18px;
    margin-bottom: 21px;
  }

  .accordion-item .accordion-button {
    font-size: 16px;
  }
  
}

@media (min-width: 1280px) {
  .max-btn {
    bottom: 20px;
    right: 20px;
  }
  .accordion-body .col p {
    font-size: 8px;
  }

  .accordion-body .accordion-data {
    padding-bottom: 22px;
    --bs-gutter-y: 14px;
    --bs-gutter-x: 30px;
  }

  .accordion-row-header {
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 11px;
  }

  .accordion-item .accordion-button {
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  .accordion-body .col p {
    font-size: 13px;
  }
  .accordion-body .accordion-data {
    padding-bottom: 49px;
    --bs-gutter-y: 46px;
    --bs-gutter-x: 40px;
  }

  .accordion-row-header {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .accordion-item .accordion-button {
    font-size: 20px;
  }
}
