/* our css */

body {
  letter-spacing: 0;
}


.main-btn {
  background-color: rgba(var(--bs-secondary-rgb), 0.3);
  border: none;
  width: 65px;
  height: 65px;
}

.max-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all ease-in 0.3s;
}

.exit-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

.exit-icon {
  width: 21;
  height: auto;
}

.max-icon {
  width: 27px;
  height: auto;
}

.form-btn {
  flex: 1 0 37.5%;
  max-width: 37.5%;
}

.form-btn:first-child {
  margin-right: 40px;
}

.left-side-image:hover .max-btn {
  opacity: 1;
}

.modal .modal-dialog .main-bed-image {
  object-fit: contain;
}

.modal.fade .modal-dialog {
  transition: none;
  transform: none;
}

/* accordion */

.accordion-menu {
  position: relative;
  overflow: auto;
}

/* .accordion-menu .accordion{
  position: absolute;
  right: 0;
  width: 100%;
  padding: inherit;
  max-height: 100%;
  overflow: scroll;
} */

.accordion-item {
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
}

.accordion-item .accordion-button {
  border-radius: 0.5rem !important;
  background-color: #d6d3ce;
  font-size: 11px;
  line-height: 15px;
  padding: 10px 20px;
}

.accordion-button::after {
  background-image: url(../assets/Icon\ ionic-ios-arrow-dropright-circle.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/Icon\ ionic-ios-arrow-dropright-circle.png);
  transform: rotate(-90deg);
}

.accordion-button:focus {
  border-color: unset;
  box-shadow: none;
}

.accordion-carousel-container,
.accordion-menu {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.accordion-carousel-container::-webkit-scrollbar,
.accordion-menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.accordion-body {
  padding: 0;
  padding-top: 20px;
}

.accordion-body .col .img-container {
  height: 0;
  overflow: hidden;
  padding-top: calc(90 / 120 * 100%);
  background: white;
  position: relative;
}

.accordion-body .col .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.accordion-body .col .img-container img:hover {
  transform: scale(3);
}

.accordion-body .accordion-data {
  width: calc(8 / 3 * 100%);
  padding: 0;
  padding-bottom: 49px;
  --bs-gutter-y: 40px;
  --bs-gutter-x: 20px;
}

.accordion-carousel-container {
  padding: 0 8px;
}

.accordion-body .col {
  flex: 1 0 12.5%;
  max-width: 12.5%;
}

.accordion-body .col p {
  font-size: 8px;
  margin-bottom: 0;
  margin-top: 10px;
}

.accordion-row-header {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 11px;
}


.bottom-btn button {
  font-size: 12px;
  font-weight: bold;
  padding: 9px;
  border-radius: 10px;
}

.buttons-row {
  padding-top: 70px;
  --bs-gutter-y: 0;
}

/* modal confirm */

#confirmForm .modal-dialog {
  max-width: 880px;
}

#confirmForm .modal-dialog .modal-content {
  border: none;
}

#confirmForm .modal-dialog .modal-content .modal-body {
  padding: 49px 36px;
}

#confirmForm .modal-dialog .modal-content .modal-body .form-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 21px;
}

#confirmForm .modal-dialog .modal-content .modal-body .form-text {
  font-size: 14px;
  margin: 0;
  margin-bottom: 30px;
}

#confirmForm .modal-dialog .modal-content .modal-body form {
  color: var(--bs-primary);
}

#confirmForm .modal-dialog .modal-content .modal-body .form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
#confirmForm .modal-dialog .modal-content .modal-body .form-control {
  border: 2px solid var(--bs-primary);
  border-radius: 10px;
  padding: 12.5px 21px;
  font-size: 14px;
}

#confirmForm .modal-dialog .modal-content .modal-body .invalid-feedback {
  text-align: right;
  color: #fb2626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#confirmForm .modal-dialog .modal-content .confirmButton {
  margin-top: 60px;
  border-radius: 10px;
}

#confirmForm .modal-dialog .modal-content .confirmButton {
  flex: 0 0 50%;
  max-width: 50%;
}

#confirmForm .modal-dialog .modal-content .confirmButton button {
  font-size: 12px;
  font-weight: bold;
  padding: 9px 0;
  border-radius: 10px;
}

#confirmForm .was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: url(../assets/Path\ 35.png);
  background-size: auto;
}

#confirmForm .was-validated .form-control:valid,
.form-control.is-valid {
  background-image: url(../assets/Checkbox.png);
  background-size: auto;
}

/* media queries */

@media (min-width: 768px) {
  .left-side-image, .accordion-menu {
    padding: 0;
  }
  .accordion-body .col p {
    font-size: 12px;
  }

  .accordion-body .accordion-data {
    width: calc(8 / 4 * 100%);
    padding-bottom: 36px;
    --bs-gutter-y: 24px;
    --bs-gutter-x: 36px;
  }

  .accordion-carousel-container {
    padding: 0;
  }

  .accordion-row-header {
    font-size: 16px;
    margin-left: 18px;
    margin-bottom: 21px;
  }

  .accordion-item .accordion-button {
    font-size: 16px;
    padding: 15px 20px;
  }
  .bottom-btn button {
    font-size: 20px;
  }

  #confirmForm .modal-dialog .modal-content .modal-body {
    padding: 40px 78px;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton {
    flex: 0 0 30%;
    max-width: 30%;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton button {
    font-size: 14px;
    padding: 8.5px 0;
  }
}

@media (min-width: 1280px) {
  .left-side-image {
    margin-top: 90px;
    padding-left: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .accordion-menu {
    padding-right: 0;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 90px;

  }
  .max-btn {
    bottom: 20px;
    right: 20px;
  }

  .accordion-body {
    padding-top: 22px;
  }
  .accordion-carousel-container {
    padding: 0 5px;
  }
  .accordion-body .col p {
    font-size: 8px;
  }

  .accordion-body .accordion-data {
    padding-bottom: 22px;
    --bs-gutter-y: 14px;
    --bs-gutter-x: 30px;
  }

  .accordion-row-header {
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 11px;
  }

  .accordion-item .accordion-button {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 20px;
  }

  .buttons-row {
    padding-top: 40px;
  }

  .bottom-btn button {
    font-size: 12px;
  }

  #confirmForm .modal-dialog .modal-content .modal-body {
    padding: 40px 38px;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton {
    flex: 0 0 15.5%;
    max-width: 15.5%;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton button {
    font-size: 12px;
    padding: 7.5px 0;
  }
}

@media (min-width: 1920px) {
  .accordion-menu {
    margin-top: 100px;
  }

  .accordion-body {
    padding-top: 49px;
  }
  .accordion-carousel-container {
    padding: 0 10px;
  }
  .accordion-body .col p {
    font-size: 13px;
  }
  .accordion-body .accordion-data {
    padding-bottom: 49px;
    --bs-gutter-y: 46px;
    --bs-gutter-x: 40px;
  }

  .accordion-row-header {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .accordion-item .accordion-button {
    font-size: 20px;
    line-height: 27px;
    padding: 16.5px 20px;
  }

  .bottom-btn button {
    font-size: 20px;
    padding: 14px;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton {
    flex: 0 0 17%;
    max-width: 17%;
  }

  #confirmForm .modal-dialog .modal-content .confirmButton button {
    font-size: 14px;
    padding: 8.5px 0;
  }
}
